/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: #E3F2FD;
}
.chatbot-toggler {
    position: fixed;
    bottom: 80px;
    right: 35px;
    outline: none;
    border: none;
    height: 70px;
    width:  70px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    background: #46de7e;
    transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}
.chatbot-toggler span {
    color: #203ca9;
    position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
    opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 8;
}
.chatbot {
    position: fixed;
    right: 35px;
    bottom: 160px;
    width: 500px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(0,0,0,0.5);
    transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    color: #203ca9;
    background: #46de7e;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}
header h2 {
    font-size: 1.4rem;
}
.chatbot .chatbox {
    overflow-y: auto;
    height: 710px;
    padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}
.chatbox .chat {
    display: flex;
    list-style: none;
}
.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}
.chatbox .incoming span {
    width: 40px;
    height: 32px;
    color: #203ca9;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: #46de7e;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}
.chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: #203ca9;
    font-size: 0.95rem;
    background: #46de7e;
}
.chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
}
.chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
}
.chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
}
.chat-input textarea {
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
}
.chat-input span {
    align-self: flex-end;
    color: #46de7e;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
    visibility: visible;
}

@media (max-width: 490px) {
    .chatbot-toggler {
        right: 20px;
        bottom: 50px;
    }
    .chatbot {
        right: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0;
        width: 100%;
    }
    .chatbot .chatbox {
        height: 90%;
        padding: 25px 15px 100px;
    }
    .chatbot .chat-input {
        padding: 5px 15px;
    }
    .chatbot header span {
        display: block;
    }
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #203ca9;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #46de7e;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

